*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:gilroy,serif;
}
html,body{
width:100%;
min-height:100%;
width: 225px;
}
h2{
    margin: 5px 0px;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: bisque; */
}
.picker{
    width: 100%;
    height: auto;
    padding: 4px 0px;
    border-top:  1px solid rgba(130, 129, 129, 0.347);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.slectedColor{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.btn{
    padding: 6px 8px;
    background-color: rgb(144, 63, 220);
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.colorGrid{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0.5px solid rgb(107, 107, 107);
    /* background-color: #939384; */
}
.colorValue{
    font-size: 12.5px;
    font-weight: 100;
    display: inline-block;
}


.allWebColors{
    width: 100%;
    padding: 4px 0px;
    border-top:  1px solid rgba(130, 129, 129, 0.347);
    margin-bottom: 5px;  
}
.allWebColorsIn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}
.scrapedColorsDiv{
    width: 100%;
    height: auto;
    /* height: 50px; */
    padding: 4px 0px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5px;
    align-items: center;
    background-color: red;
}
.scrapedDivChild{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.5px solid rgb(107, 107, 107);
}